* {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site-layout {
    display: grid;
    grid-template-columns: 20% 80%;
}

.navbar {
    position: fixed;
    height: 100vh;
    width: 20vw;
    background-color: rgb(17, 17, 19);
}

.navbar-logo {
    text-align: center;
    padding: 1rem;
    color: white;
}

.nav-item {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20vw;
}

.navlink {
    text-decoration: none;
    flex-grow: 1;
    padding: 1vh;
    color: white;
}

.navlink:hover {
    background-color: white;
    color: black;
}

.card-list {
    display: flex;
    flex-direction: column;
    background-color: #E6E8EBFF;
}

.card {
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
}